.bottom-alert {
    position: fixed;
    width: 80%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .bottom-alert .alert {
    padding: 20px;
    margin-bottom: 0;
    border-radius: 5px;
  }
